@use "src/assets/styles/abstracts" as a;

@mixin importClickableTableStyles() {
  nav {
    position: relative;
    height: 55px;

    #searchInfo {
      color: var(--text-heading-color);
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);

    }
  }

  table {
    margin: 20px 20px 0 0;
    table-layout: fixed;
    width: 100%;

    font-family: a.$train-font;

    th {
      color: var(--text-heading-color);
      background-color: var(--bg-text-display);
      font-size: larger;
      text-align: left;
    }

    tr {
      @include a.clickable(var(--bg-text-display), var(--text-color));
    }

    td{
      font-size: large;
    }
  }
}

@mixin importTableStyles() {
  table {
    table-layout: fixed;
    width: 100%;

    font-family: a.$train-font;

    th {
      color: var(--text-heading-color);
      background-color: var(--bg-text-display);
      font-size: medium;
      text-align: left;
    }

    td{
      font-size: medium;
      color: var(--text-color);
      background-color: var(--bg-text-display);
    }
  }
}
