<nav>
  <app-station-picker></app-station-picker>
  <app-board-picker></app-board-picker>
  <p id="searchInfo" *ngIf="searchTerm">{{getSearchInfo()}}</p>
  <app-search (searchTerms)="populateSearchTerm($event)"></app-search>
</nav>

<table>
  <tr>
    <th *ngFor="let property of properties">{{ property | lowerCamelToUpper }}</th>
  </tr>
  <ng-container *ngFor="let trainService of filteredServices">
    <tr (mouseover)="setIsServiceInformationShown(trainService)" (dblclick)="onServiceDbClicked(trainService)">
      <td *ngFor="let property of properties">{{ trainService[property] }}</td>
    </tr>
    <tr class="more-service-information" *ngIf="trainService.moreInfoShown && properties">
      <td [attr.colspan]="properties.length">
        <app-future-station-scroll [serviceWrapper]="trainService"></app-future-station-scroll>
      </td>
    </tr>
  </ng-container>
</table>
