<table>
  <tr>
    <th>Op. Code</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Platform</th>
    <th>STA</th>
    <th>ETA</th>
    <th>Status</th>
  </tr>
  <ng-container *ngFor="let trainService of currentServices">
    <tr (mouseover)="setIsServiceInformationShown(trainService)" (dblclick)="onServiceDbClicked(trainService)">
      <td>{{ trainService.operatorCode }}</td>
      <td>{{ trainService.origin[0].locationName }}</td>
      <td>{{ trainService.destination[0].locationName }}</td>
      <td>{{ trainService.platform }}</td>
      <td>{{ trainService.sta }}</td>
      <td [ngClass]="{'red': !(trainService.eta === 'On time'),
                      'green': trainService.eta === 'On time'}">
        {{ trainService.eta }}
      </td>
      <td [ngClass]="{'red': trainService.isCancelled,
                      'green': !trainService.isCancelled}">
        {{ trainService.isCancelled ? 'canceled' : 'running' }}
      </td>
    </tr>
    <tr class="more-service-information" *ngIf="trainService.moreInfoShown">
      <td colspan="7">
        <app-future-station-scroll [serviceWrapper]="trainService"></app-future-station-scroll>
      </td>
    </tr>
  </ng-container>
</table>

