@mixin futureStationsScrollAnimation() {
  h1 {
    font-size: medium;
    font-family: var(--train-font);
    color: var(--text-color);
    overflow: hidden;
    animation: scrolling-text 45s linear infinite;
  }

  @keyframes scrolling-text {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
