// Background Colors
$bg-color-classic: black;
$bg-text-display-classic: #393939;
$bg-color-dark: #2C3639;
$bg-text-display-dark: #3F4E4F;

// Text Colors
$text-color-classic: #e0aa23;
$text-heading-color-classic: #f3f3f3;
$text-color-dark: #A27B5C;
$text-heading-color-dark: #DCD7C9;
