// Background Colors
$bg-color-classic: black;
$bg-text-display-classic: #393939;
$bg-color-light: white;
$bg-text-display-light: #393939;
$bg-color-dark: blue;
$bg-text-display-dark: #393939;

// Text Colors
$text-color-classic: #e0aa23;
$text-heading-color-classic: #f3f3f3;
$text-color-light: black;
$text-heading-color-light: grey;
$text-color-dark: white;
$text-heading-color-dark: grey;
