@use "src/assets/styles/abstracts/color" as c;
@use "src/assets/styles/abstracts/fonts" as f;

@mixin importTheme() {
  :host-context( .theme-dark ) {
    // Font
    --train-font: #{f.$train-font};

    // Background Colors
    --bg-color: #{c.$bg-color-dark};
    --bg-text-display: #{c.$bg-text-display-dark};

    // Text Colors
    --text-color: #{c.$text-color-dark};
    --text-heading-color: #{c.$text-heading-color-dark};
  }

  :host-context( .theme-light ) {
    // Font
    --train-font: #{f.$train-font};

    // Background Colors
    --bg-color: #{c.$bg-color-light};
    --bg-text-display: #{c.$bg-text-display-light};

    // Text Colors
    --text-color: #{c.$text-color-light};
    --text-heading-color: #{c.$text-heading-color-light};
  }

  :host-context( .theme-classic ) {
    // Font
    --train-font: #{f.$train-font};

    // Background Colors
    --bg-color: #{c.$bg-color-classic};
    --bg-text-display: #{c.$bg-text-display-classic};

    // Text Colors
    --text-color: #{c.$text-color-classic};
    --text-heading-color: #{c.$text-heading-color-classic};
  }
}
