<mat-icon class="admin-menu-icon" (click)="onAdminMenuClicked($event)">account_circle</mat-icon>
<div *ngIf="isAdminMenuShown">
  <h1>THEME:</h1>
  <ul>
    <li *ngIf="currentTheme !== themeType.DARK" (click)="onThemeClicked(themeType.DARK)">Dark</li>
    <li *ngIf="currentTheme !== themeType.CLASSIC" (click)="onThemeClicked(themeType.CLASSIC)">Classic</li>
  </ul>
  <h1>SUPPORT:</h1>
  <ul>
    <li><a href="../../../assets/support/Design%20Documentation%20-%20Phase%20One%20-%20Front%20End.pdf" target="_blank" rel="noopener noreferrer">
      Design Documentation</a></li>
  </ul>
</div>
